<h1>Individual Store Page</h1>
<h2>Name: <%= @specific_store['name'] %></h2>
<h2>Address: <%= @specific_store['city'] %>, <%= @specific_store['region']  %> <%= @specific_store['postalCode'] %></h2>
<h2>Store Hours: </h2>
